<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.ffb.depot" version="${project.version}" class="de.bmarwell.hibiscus.ffb.FfbDepotPlugin">

  <description>Hibiscus-Support für FFB Fidelity Depot</description>
  <url>https://bmhm.github.io/repositories/hibiscus/hibiscus.ffb.depot/hibiscus.ffb.depot.zip</url>
  <homepage>https://github.com/bmhm/hibiscus.ffb.depot</homepage>

  <license>Apache License version 2.0</license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.0+" />
    <import plugin="slf4j-jameica" version="1.0.0+"/>
  </requires>

  <classfinder>
    <include>hibiscus\.ffb\.depot\.jar</include>
    <include>.*\.class</include>
  </classfinder>

</plugin>
